.side-btn {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


/* You can add global styles to this file, and also import other style files */

.app-container {
    min-height: 100vh;
    min-width: 100vw;
}

.nav-spacer {
    flex: 1 1 auto;
}

.nav-icon {
    padding: 0 14px;
}

.contact-button {
    height: 94%;
    width: 80px;
    margin: 8px -6px 0 0;
    border-radius: 0;
}

.contact-bar {
    width: 30em;
    max-width: 100%;
    padding: 5em 2em 2em 2em;
}