.side-btn {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


/* You can add global styles to this file, and also import other style files */

.app-container {
    min-height: 100vh;
    min-width: 100vw;
}

.nav-spacer {
    flex: 1 1 auto;
}

.nav-icon {
    padding: 0 14px;
}