<!-- <md-grid-list gutterSize="12" cols="8" rows="4">
    <md-grid-tile colspan="3" rowspan="4" style="background:#333;font-size:50px;">
        appkins
    </md-grid-tile>
    <md-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        {{tile.text}}
    </md-grid-tile>
</md-grid-list> -->

<div class="wrapper" fxLayoutGap="10px">
    <div fxLayout="row" fxFlex="60" fxLayoutWrap class="c1r1 title-content">
        <h2 fxFlex class="mat-display-4">appkins</h2>
        <h2 fxFlex class="mat-display-1">develop | design</h2>
    </div>
    <div fxLayout="column" fxFlex="40" class="c1r1 content-2">
        <div fxLayout="row" fxFlex="50" class="sub-content">
            <div fxFlex="50" fxLayoutWrap>
                <h1 class="mat-headline web-headline">web</h1>
                <h4 class="mat-subheading-1"> development</h4>
                <button class="sm-btn" md-raised-button color="warn">learn more</button>
            </div>
            <div fxFlex="50" fxLayoutWrap>
                    <h1 class="mat-headline app-headline">app</h1>
                    <h4 class="mat-subheading-1"> development</h4>
                    <button class="sm-btn" md-raised-button color="accent">learn more</button>
            </div>
        </div>
        <div fxFlex="50" class="sub-content" fxLayoutWrap>
            <h1 class="mat-headline projects-headline">projects</h1>
            <button md-raised-button color="primary">learn more</button>
        </div>
    </div>
</div>