@mixin center {
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.wrapper {
    height: calc(100vh - 64px);
    width: 100%;
    padding: 10px;
    .title-content {
        flex: 1 1 100%;
        box-sizing: border-box;
        @include center;
        background-color: #383535;
        color: #cfc5c5;
    }
    .content-2 {
        >.sub-content {
            width: 100%;
            background-color: #d2b6c3;
            @include center;
            &:first-child {
                background-color: transparent;
                margin-bottom: 10px;
                >div {
                    background-color: #9bc2b7;
                    height: 100%;
                    @include center;
                    margin-left: 5px;
                    &:first-child {
                        margin-left: 0px;
                        margin-right: 5px;
                        background-color: #c6b5a4;
                    }
                }
            }
        }
    }
}

.projects-headline {
    margin: 0;
    margin-right: 20px;
}

.app-headline {
    margin-right: 10px;
}

.web-headline {
    margin-right: 10px;
}

.sm-btn {
    line-height: 30px;
    border-radius: 0;
}