.project-card {
    // min-height: 500px;
    min-width: 312px;
    max-width: 400px;
    margin-bottom: 10px;
    margin-left: 10px;
    .project-header {
        .project-header-image {}
        .project-title {}
        .project-subtitle {}
    }
    .project-content {
        //max-height: 257px;
        height: 15em;
        overflow: hidden;
        margin-bottom: 12px;
    }
}

.wrapper {
    padding: 10px;
    display:flex;
    width:100%;
    flex-flow:row wrap;
    justify-content: space-between;
}